<button type="button" class="btn btn-primary" [routerLink]="['/invoice/customer-list']">Show customers</button>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3">
        <label for="nazwaFirmy" class="form-label">Company name</label>
        <input #name="ngModel" type="text" class="form-control" name="name" [(ngModel)]="client.name" required> 
        @if (name.invalid && (name.dirty || name.touched)) {
            <div class="alert alert-danger">Nazwa firmy jest wymagana</div>
        }
    </div>
    <div class="mb-3">
        <label for="NIP" class="form-label" >NIP</label>
        <input #nip="ngModel" type="text" class="form-control" id="NIP" aria-describedby="" name="NIP" [(ngModel)]="client.taxId" required>
        @if (nip.invalid && (nip.dirty || nip.touched)) {
            <div class="alert alert-danger">NIP jest wymagany</div>
        }
    </div>
    <div class="mb-3">
        <label for="miasto" class="form-label" >City</label>
        <input #miasto="ngModel" type="text" class="form-control" id="miasto" aria-describedby="" name="city" [(ngModel)]="client.city" required>
        @if (miasto.invalid && (miasto.dirty || miasto.touched)) {
            <div class="alert alert-danger">Miasto jest wymagane</div>
        }
    </div>
    <div class="mb-3">
        <label for="ulica" class="form-label" >Street</label>
        <input #ulica="ngModel" type="text" class="form-control" id="ulica" aria-describedby="" name="street" [(ngModel)]="client.street" required>
        @if (ulica.invalid && (ulica.dirty || ulica.touched)) {
            <div class="alert alert-danger">Ulica jest wymagana</div>
        }
    </div>
    <div class="mb-3">
        <label for="numerDomu" class="form-label" >House number</label>
        <input #nrDomu="ngModel" type="text" class="form-control" id="numerDomu" aria-describedby="" name="houseNumber" [(ngModel)]="client.houseNumber" required>
        @if (nrDomu.invalid && (nrDomu.dirty || nrDomu.touched)) {
            <div class="alert alert-danger">Numer domu jest wymagany</div>
        }
    </div>
    <div class="mb-3">
        <label for="numerMieszkania" class="form-label" >Flat number</label>
        <input #nrMieszkania="ngModel" type="text" class="form-control" id="numerMieszkania" aria-describedby="" name="roomNumber" [(ngModel)]="client.roomNumber" required>
        @if (nrMieszkania.invalid && (nrMieszkania.dirty || nrMieszkania.touched)) {
            <div class="alert alert-danger">Numer mieszkania jest wymagany</div>
        }
    </div>
    <div class="mb-3">
        <label for="kodPocztowy" class="form-label" >Zip code</label>
        <input #kodPocztowy="ngModel" type="text" class="form-control" id="kodPocztowy" aria-describedby="" name="postalCode" [(ngModel)]="client.postalCode" required>
        @if (kodPocztowy.invalid && (kodPocztowy.dirty || kodPocztowy.touched)) {
            <div class="alert alert-danger">Kod pocztowy jest wymagany</div>
        }
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Zostaw tu swoje uwagi" id="uwagi" name="comments" [(ngModel)]="client.comments"></textarea>
        <label for="floatingTextarea">Comments</label>
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" id="branża" name="field" [(ngModel)]="client.field">
            <option selected>Industry</option>
            <option value="1">IT</option>
            <option value="2">Entertainment</option>
        </select>
    </div>

    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="isActive" [(ngModel)]="client.isActive">
        <label class="btn btn-outline-primary" for="btncheck1">Active</label>
    </div>
    <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Save</button>
    <!-- <button type="button" class="btn btn-primary" onclick="lock()">Wstaw</button> -->
</form>